<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<% if user_signed_in? %>
  <%if current_user.id == @article.user_id %>
    <%= link_to "Edit", edit_article_path(@article) %>
  <% end %>
<% end %>

<p><a href="/">Back</a></p>