<div class="main-page">
<% if user_signed_in? %>
    <span><p id="hello">Hello, <%= current_user.first_name %> <%= current_user.last_name %>!</p></span>
<% end %>

<h1>All public articles</h1>

<p id="count-articles">Our blog has <%= @articles.count %> articles and counting!<p>
<ul>
  <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
  <% end %>
</ul>
</p>