<h1>All public articles</h1>
Our blog has <%= @articles.count %> articles and counting!
<ul>
  <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
  <% end %>
</ul>