<div class="about-me">
	<div class="wrapper">
	<div class="column-2">
		<h1>About Me</h1>
		<p>Hello!</p>
		<p>My name is Marina. I'm student. This is my blog written on Ruby on Rails!</p>
		<p>This blog on <a href="https://github.com/DominaPluviam/my_project">Github</a>.</p>		
	</div>
	<div class="column-2 photo">
		<p class="comment">I don't like to be photographed, so instead of me, a photo of my pet.</p>
		<%= image_tag "Maks.jpg", class: "cat" %>
		<p>My cat - Maks</p>
	</div>
  </div>
  </div>	
</div>