<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi! It's your blog my_project.</p>
    <p> User <%= @name %> with email <%= @email %> sent you a message!</p>
    <p><%= @message %><br>
    </p>
    <p>
      Go to the link to return at your page -> <%= @url %>.
    </p>
  </body>
</html> 