@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato");


:root {
  --black: #000;
  --grey: #c9c9c9;
  --light-black: #272727;
  --light-grey: #e6e6e6;
  --pale-yellow: #f6f4e6;
  --yellow: #FBFE49;
}

* {
  margin: 0;
  padding: 0;  
}

body {
  height: 100%;
  margin: 0;
  background:var(--pale-yellow);
}

.notice {
  margin: 10px;
}

.alert {
  margin: 10px;
}

//scss-lint:disable MergeableSelector

* {
  margin: 0;
  padding: 0;
}

.notebook-logo {
  float: left;
  height: 90px;
  margin-top: .7em;
  margin-left: .7em;
  width: 90px;
}

.nav-menu {
  background: var(--light-black);
  font-family: "Montserrat", sans-serif;
  height: 7em;
}

.nav {
  margin-left: 120px;
}

.nav a {
  color: var(--pale-yellow);
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: .7em;
  padding-top: 2.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.nav a:hover {
  color: var(--yellow);
}

.side {
  float: right;
  padding-right: 2em;
  padding-top: 2em;
}

.side summary {
  cursor: pointer;
  height: 17px;
  outline: none;
  padding: 12px 10px;
  text-align: center;
  user-select: none;
  width: 23px;
  writing-mode: vertical-lr;
}

.side summary::after {
  color: var(--pale-yellow);
  content: 'III';
  font-size: 1.5em;
  letter-spacing: -1px;
}

.side summary::after summary:hover {
  color: var(--yellow);
}

.side summary:marker {
  font-size: 0;
}

.side summary::-webkit-details-marker {
  display: none;
}

.side details .menu {
  animation-name: menuAnim;
}

.menu {
  background-color: var(--grey);
  color: var(--black);
  display: flex;
  font-size: 14;
  opacity: .9;
  overflow-x: hidden;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-top: 7px;
  position: absolute;
  right: 0;
  width: 150px;
}

.menu ul {
  align-items: start;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu a {
  color: var(--light-black);
  display: block;
  font-family: Lato, sans-serif;
  padding: 4px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

.menu a::after {
  background: var(--yellow);
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 100%;
  transform: scaleX(0);
  transition: transform .5s;
  width: 100%;
}

.menu a:hover {
  color: var(--yellow);
}

.menu a:hover::after {
  transform: scaleX(1);
}

.main-content {
  background:var(--pale-yellow);
  color: var(--black);
  font-family: "Montserrat", sans-serif;
}

.about-me {
  box-sizing: border-box;
}

.about-me h1 {
  padding-bottom: 10px;
}

.about-me p {
  font-weight: 600;
}

.about-me .column-2 {
  float: left;
  width: 35%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  height: 475px;
  margin:30px;
  margin-right:10px;
  margin-bottom: 70px;
  background-color: #f9dd5f;
  line-height:2;
}

.cat {
  height: 100%;
}

.photo {
  text-align: center;
}

.contact-me {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.contact-me .form {
  width: 440px;
  height: 540px;
  background: var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 0 50px -10px var(--black);
  padding-top: 40px;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  position: fixed; 
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact-me h2 {
  text-align: center;
  padding-bottom: 10px;
  width: 200px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

.contact-me p {
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.contact-me .input {
  width:90%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  transition:all .3s;
  border:2px solid #bebed2;
}

.contact-me .big-input {
  height: 200px;
}

.contact-me .input:focus {
  border-bottom:2px solid #78788c
}

.contact-me p:before {
  content:attr(type);
  display:block;
  font-size:14px;
}

.contact-me .button {
  float:right;
  padding:10px 14px;
  margin:12px 0 0;
  font-family:'Montserrat',sans-serif;
  font-weight: 500;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
  width: 80px;
}

.contact-me .button:hover {
  background:#78788c;
  color:#fff
}

.sign-up {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.sign-up .form {
  width: 440px;
  height: 560px;
  background: var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 0 50px -10px var(--black);
  padding-top: 40px;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  position: fixed; 
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sign-up h2 {
  text-align: center;
  padding-bottom: 10px;
  width: 200px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

.sign-up p {
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.sign-up .input {
  width:90%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  transition:all .3s;
  border:2px solid #bebed2;
}

.sign-up .input:focus {
  border-bottom:2px solid #78788c
}

.sign-up p:before {
  content:attr(type);
  display:block;
  font-size:14px;
}

.sign-up .button {
  float:right;
  padding:10px 14px;
  margin:12px 0 0;
  font-family:'Montserrat',sans-serif;
  font-weight: 500;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
  width: 80px;
}

.sign-up .button:hover {
  background:#78788c;
  color:#fff
}

.log-in {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.log-in .form {
  width: 440px;
  height: 340px;
  background: var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 0 50px -10px var(--black);
  padding-top: 40px;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  position: fixed; 
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.log-in h2 {
  text-align: center;
  padding-bottom: 10px;
  width: 200px;
  color: #78788c;
  border-bottom: 3px solid #78788c
}

.log-in p {
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.log-in .input {
  width:90%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  transition:all .3s;
  border:2px solid #bebed2;
}

.log-in .input:focus {
  border-bottom:2px solid #78788c
}

.log-in p:before {
  content:attr(type);
  display:block;
  font-size:14px;
}

.log-in .button {
  float:right;
  padding:10px 14px;
  margin:12px 0 0;
  font-family:'Montserrat',sans-serif;
  font-weight: 500;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
  width: 80px;
}

.log-in .button:hover {
  background:#78788c;
  color:#fff
}
