
:root {
  --black: #000;
  --dark-gray: #ccc;
  --light-gray: #eee;
  --red: red;
}

.navbar {
  background: var(--dark-gray);
  margin: auto;
  margin-top: 3px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 75px;
}

nav a {
  color: var(--black);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--red);
}

.logo {
  float: left;
}

.notebook-logo {
  float: left;
  height: 90px;
  width: 90px;
}

.main-content {
  margin-left: 180px;
  padding: 0 10px;
}

.sidebar {
  background-color: var(--light-gray);
  color: var(--black);
  font-size: 14;
  height: 100%;
  overflow-x: hidden;
  padding-top: 10px;
  position: fixed;
  width: 180px;
}

side p {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

side a:hover {
  color: var(--red);
}
