<div class='sidebar'>
    <p> <%= link_to 'About me', home_about_me_path %> </p> 
    <p> <%= link_to 'Contact with me', contacts_url %> </p>		
	</br> 
	<a>Application owner:</br> Marina Meizer</a>
</div>